<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-4">
      <app-borrower>

      </app-borrower>
    </div>
    <div class="col-4">
      <app-lender>

      </app-lender>
    </div>
    <div class="col-4">
      <app-vleppo>

      </app-vleppo>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-4">
        <app-exchange-rates>

        </app-exchange-rates>
      </div>
      <div class="col-4">
        <app-fees>

        </app-fees>
      </div>
      <div class="col-4">
        <app-actions>

        </app-actions>
      </div>
    </div>
  </div>
  <div class="row">
    <app-status-bar></app-status-bar>
  </div>
</div>